$primary-color: #023937;
$primary-outline-color: #fff;
$primary-words-color: #fff;
$secondary-color: #428282;
$background-color: #fff;
$border-color: #ddd;
$gutter-color: #ccc;
$faded-text-color: #999;
$log-icon-color: black;
$log-icon-text-color: white;