                    
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="wikinav" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wiki <span class="caret"/></a>
                    <ul class="dropdown-menu">
                        <li><a href="/wiki/home">Home</a></li> 
<<<<<<< HEAD
                        <li><a href="/wiki/tags">Tags</a></li>
                        <li><a href="/wiki/all">All Pages</a></li>
=======
                        <li><a href="/wiki/all">All Pages</a></li>
                        <li><a href="/wiki/tags">Tags</a></li>
>>>>>>> f4c65b68ee0ea5d11c5138bd391a3246bd32752b
                        <li><hr></li>
                        <li><a href="/wiki/create">New Page</a></li>
                        <li><a href="/files">Files</a></li>
                    </ul>
                </li>
                                